@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300..700&display=swap');
#container {
  width: 1280px;
  height:1300px;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
  display: block;
  overflow-y: scroll;
}

#container::-webkit-scrollbar {
  display: none;
}
.addressHeader {
  padding: 5%;
  display: flex;
  margin-top:80px;
  top: 0px;
 
  z-index: 10;
  position:sticky;
  background-color:white;
  
}
.addressHeader >  span {
  font-size: 60px;
  margin-top: 20px;
  margin-bottom: 40px;
  font-family: 'Lora', serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

#find_name {
  border-radius: 20px;
  width: 280px;
  margin-top: 35px;
  margin-left: 30px;
  background-image: url('../image/ic_search.svg');
  background-repeat: no-repeat;
  background-position: 10px center;
  padding-left: 60px;
}

.groupMember {
  width: 90%;
  height: 15%;
	
  position:sticky;
  border: 1px;
  border-radius: 30px;
  box-shadow: 4px 4px 4px 4px lightgray;
  background-image: linear-gradient(120deg, #3c8ce7 0%, #00eaff 100%);

  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  flex-direction: row;

  margin: 0 auto;

  
  top: 200px;
  z-index: 10;
  margin-top:20px;
  margin-bottom:70px;
  background-color:white;
  opacity:0.8;
}

.groupMember > li {
  display:flex;
  flex-direction:column;
  text-align: center;
  position: relative;
  color:white;
  margin-top: 38px;
}
.group > b {
  font-size: 30pt;
  text-align: center;
  color:white;
  
}
.groupMember> ul> li > a{
	color:white;
}
#addBtn {
  
  
  width:80px;
  height:80px;
  margin-top:20px;
}
#addBtn:hover{
	animation-name: pulse;
	-webkit-animation-name: pulse;	

	animation-duration: 1.5s;	
	-webkit-animation-duration: 1.5s;

	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
}

#addressList {

  
  margin-bottom:100px;
  display: flex;
  flex-direction:row;
  flex-wrap:wrap;
  overflow:visible;
  margin-left:40px;

}
#SearchaddressList{
 
 margin-bottom:100px;
  display: flex;
  flex-direction:row;
  flex-wrap:wrap;
  overflow:visible;
}
#FilteraddressList{
	width:100%;
 margin-bottom:100px;
  display: flex;
  flex-direction:row;
  flex-wrap:wrap;
  overflow:visible;
}
#addressList > ul{
	display: flex;
    flex-direction:row;
	flex-wrap:wrap;
	justify-content:center;
}
#FilteraddressList > ul{
	width:100%;
	display: flex;
    flex-direction:row;
	flex-wrap:wrap;
	justify-content:center;
}
#SearchaddressList > ul{
	width:100%;
	display: flex;
    flex-direction:row;
	flex-wrap:wrap;
	justify-content:center;
}
#list_container {
  width: 220px;
  height: 250px;
  position: relative;
  border-radius: 30px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
  display: display;
  flex-direction:row;
  flex-wrap:wrap;
  margin: 30px;
  overflow-y: hidden;
  align-items: center; 
 
}


.searchContainer{
	
	 overflow:scroll; 
}
.searchContainer::-webkit-scrollbar {
  display: none;
}
.filterContainer{
	 
	 overflow:scroll; 
}
.filterContainer::-webkit-scrollbar {
  display: none;
}
#search_container{
  width: 220px;
  height: 250px;
  position: relative;
  border-radius: 30px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
  display: display;
  flex-direction:row;
  flex-wrap:wrap;
  margin: 30px;
  overflow-y: hidden;
  align-items: center; 
  

}
#filter_container{
  width: 220px;
  height: 250px;
  position: relative;
  border-radius: 30px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
  display: display;
  flex-direction:row;
  flex-wrap:wrap;
  margin: 30px;
  overflow-y: hidden;
  align-items: center; 
  
}

.list_image {
  width: 40%;
}
.image_box {
  margin-top:18px;
  width: 58px;
  height: 58px;
  border-radius: 70%;
  display:flex;
 margin-left:10px;	
  justify-content: space-around;
}
.profile {
  width: 105%;
  height: 105%;
  object-fit: cover;
}
.list_content {
  width: 80%;
  display: block;
  margin-bottom:20px;
  margin-left:10px;
}
.list_header {
  display: flex;
  justify-content: space-between;

  height: 20%;

  padding-top: 10px;
  padding-left: 8px;
}
#ad_name {
  font-size: 18px;
  font-weight: bold;
}
#image_modify{
	width:20px;
	height:20px; 
	margin-right:7px
}
#image_modify{
	width:20px;
	height:20px;
	margin-right:7px;
}
#image_delete{
	width:20px;
	height:20px;
}
.list_body {
  display: flex;
  flex-direction: column;
  padding-top: 7px;
}
.company_info {
  display: flex;
  padding: 8px;
}
.member_info {
  padding: 8px;
}
.edit_btn {
  display: flex;
  margin-left:80px;

}
#write_container {
  width: 1280px;
  margin: 0 auto;
  height: 1000px;
  display: block;
  overflow-y: scroll;
}
#write_container::-webkit-scrollbar {
  display: none;
}
#write-wrap {
  justify-content: center;
  align-items: center;
  width: 1020px;
  margin: 10% auto 20%;
  overflow: hidden;
  border-radius: 30px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.1),
    inset 0 0 1px rgba(255, 255, 255, 0.6);
}

/*css*/
.slideRight{
	animation-name: slideRight;
	-webkit-animation-name: slideRight;	

	animation-duration: 1.5s;	
	-webkit-animation-duration: 1.5s;

	animation-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);	
	-webkit-animation-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);		

	
	visibility: visible !important;	
}

@keyframes slideRight {
	0% {
		transform: translateX(-150%);
	}
	50%{
		transform: translateX(8%);
	}
	65%{
		transform: translateX(-4%);
	}
	80%{
		transform: translateX(4%);
	}
	95%{
		transform: translateX(-2%);
	}			
	100% {
		transform: translateX(0%);
	}	
}

@-webkit-keyframes slideRight {
	0% {
		-webkit-transform: translateX(-150%);
	}
	50%{
		-webkit-transform: translateX(8%);
	}
	65%{
		-webkit-transform: translateX(-4%);
	}
	80%{
		-webkit-transform: translateX(4%);
	}
	95%{
		-webkit-transform: translateX(-2%);
	}			
	100% {
		-webkit-transform: translateX(0%);
	}
}

.floating:hover{
	animation-name: floating;
	-webkit-animation-name: floating;

	animation-duration: 1.5s;	
	-webkit-animation-duration: 1.5s;

	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
	
	animation:floating 5s ease-in-out inifinite;
}

@keyframes floating {
	0% {
		transform: translateY(0%);	
	}
	50% {
		transform: translateY(8%);	
	}	
	100% {
		transform: translateY(0%);
	}			
}

@-webkit-keyframes floating {
	0% {
		-webkit-transform: translateY(0%);	
	}
	50% {
		-webkit-transform: translateY(8%);	
	}	
	100% {
		-webkit-transform: translateY(0%);
	}			
}
.groupCount:hover{
	animation-name: pulse;
	-webkit-animation-name: pulse;	

	animation-duration: 1.5s;	
	-webkit-animation-duration: 1.5s;

	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
}
#addressList > ul{
	animation-name: floating;
	-webkit-animation-name: floating;

	animation-duration: 1.5s;	
	-webkit-animation-duration: 1.5s;

	
	animation:floating 1.5s ease-in-out ;

	
}
@keyframes pulse {
	0% {
		transform: scale(0.9);
		opacity: 0.7;		
	}
	50% {
		transform: scale(1);
		opacity: 1;	
	}	
	100% {
		transform: scale(0.9);
		opacity: 0.7;	
	}			
}

@-webkit-keyframes pulse {
	0% {
		-webkit-transform: scale(0.95);
		opacity: 0.7;		
	}
	50% {
		-webkit-transform: scale(1);
		opacity: 1;	
	}	
	100% {
		-webkit-transform: scale(0.95);
		opacity: 0.7;	
	}			
}



.write {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 600px;
}
.write_image {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(120deg, #3c8ce7 0%, #00eaff 100%);
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#lottie {
  padding: 10%;
  z-index: 99;
  width: 100%;
  height: 100%;
}
.write-content {
  width: 100%;
  height: 100%;

  margin-left: 100px;
}
.write-head {
  width: 100%;
  height: 50px;
  margin-top: 25px;
  
}

.head-title {
  font-size: 40px;
  margin-top: 80px;
  
  font-family: 'Lora', serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  color: #397bf3;
  /*
  font-family: "Teko", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
*/
}
.write-body {
  width: 100%;
}
.body-content {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}

/*인풋 태그 꾸미기*/
.content::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.content {
  position: relative;
  width: 20rem;
  margin-bottom: 30px;
  height: 2rem;
}

.content > input {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 3rem;
  border: 2px solid #e1e5ee;
  border-radius: 0.5rem;
  font-size: inherit;
  outline: none;

  padding: 1.25rem;
  transition: all 160ms ease-in;
}
.content > input:hover,
select:hover {
  border-color: aquamarine;
}
.content > input:focus,
select:focus {
  border-color: orangered;
}

.content > label {
  width: 50px;
  height: 20px;
  position: absolute;
  left: 0.5rem;
  top: 0.8rem;
  padding: 0 0.5rem;
  cursor: text;
  transition: top 200ms ease-in left 200ms ease-in font-size 200ms ease-in;
  background-color: white;
  z-index: 999;
  opacity:0;
}
.content > input:focus + label {
  opacity:1;
  top: -0.6rem;
  font-size: 0.9rem;
  left: 0.6rem;
  transition: 0.3s;
}
select {
  -o-appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
select {
  width: 100%;
  height: 3rem;
  padding: 5px 30px 5px 10px;

  outline: 0 none;
  border: 2px solid #e1e5ee;
  border-radius: 0.5rem;
  font-size: inherit;

  transition: all 160ms ease-in;
}
select .write-foot {
  margin-top: 60px;
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: space-around;
}
select:focus + label {
  top: -0.6rem;
  font-size: 0.9rem;
  left: 0.6rem;
  transition: 0.3s;
}
.write-foot {
  display: flex;
  margin-left:100px;;
}
.write-foot > input {
  width: 100px;
  margin-left: 10px;
  margin-top:20px;
}
#add_btn {
  background-color: #397bf3;
  border-color: white;
}
#add_btn:hover {
  background-color: black;
  border-color: white;
  color: white;
  transition: 0.3s;
}
#close_btn {
  display: inline-block;
  padding: 12px 15px 11px;
  border: 1px solid white;
  border-radius: 10px;
  font-weight: 500;
  color: #000;
  background: #ccc;
  line-height: 1;
  transition: 0.3s;
  -webkit-transition: 0.3s;
}
#close_btn:hover {
  background-color: black;
  border-color: white;
  color: white;
  transition: 0.3s;
}

.nullResult{
	margin-left:40%;
	marign-top:18%;
	font-weight:bold;
	height:35vh;
	font-size:40px;
	
}
li{
	display:flex;
	flex-direction:column;
}
.groupCount{
	font-size:80px;
}
